*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(left, #70AADA, #00c8ffaa);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    width: 15%;
    margin-top: -5%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #70AADA;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 2.5%;
    margin-top: 2.5%;
    background: #70AADA;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.3s;
    box-shadow: #094c66 4px 4px 0px !important;
    transition: transform 200ms, box-shadow 200ms !important;
}
  
    .btnContact:hover {
    background-color: orange;
    transform: scale(1) !important;
  }
  
  .btnContact:active{
    transform: translateY(4px) translateX(4px) !important;
    box-shadow: #094c66 0px 0px 0px !important;
  }

.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* header .container{
    background-color: white;
    border: 1px solid black;
    list-style: none;
}
header .btn{
    box-shadow: #94cbe1 !important;
    color: rgb(0, 0, 0) !important;
    font: x-large;
} */